/**{
    border:1px dashed red;
}*/
/*@import (reference) "../../bower_modules/bootstrap/less/bootstrap";*/
.vertical-center {
  display: inline-block;
  float: none;
  vertical-align: middle;
}
.vertical-bottom {
  display: inline-block;
  float: none;
  vertical-align: bottom;
}
/* SLIM TOP BAR*/
ul.lang-selector {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.lang-selector li {
  float: left;
}
ul.lang-selector li i {
  border: 1px solid black;
}
.slim-top-bar ul.lang-selector {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.slim-top-bar ul.lang-selector li {
  float: left;
}
.slim-top-bar a {
  display: block;
  text-align: center;
  padding: 5px 10px;
}
/* ---------------- MAIN TOP BAR----------------------*/
.main-top-bar {
  padding: 10px 0 10px 0;
}
.main-top-bar .shop-name {
  margin: 0;
  padding: 0;
}
.main-top-bar .search-input {
  width: 100%;
}
.main-top-bar .search-box {
  padding-top: 5px;
}
.main-top-bar .shopping-cart {
  padding-top: 5px;
}
.affix {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  background-color: #ede7e7;
  margin: 0;
}
.affix button.go-to-cart {
  width: 100%;
}
.affix .shop-name {
  float: right;
}
@media (min-width: 992px) {
  .affix ul.categories {
    display: none;
  }
}
@media (max-width: 992px) {
  .affix .shop-name {
    display: none;
  }
  nav.navbar {
    min-height: 0;
  }
  .shopping-cart {
    padding-right: 10px;
  }
}
.navbar-toggle {
  border-color: #ddd;
  margin-top: 0;
  margin-right: 10px;
}
.navbar-toggle .icon-bar {
  background-color: #888;
}
/*------------------CATEGORIES NAVBAR----------------------*/
ul.categories h3 {
  font-size: medium;
  margin-top: 0;
}
ul.subcategories {
  list-style-type: none;
  margin: 5px 10px 5px 10px;
  padding: 0;
}
/*-----------------------SPECIAL OFFERS----------------------------*/
/*Special offers*/
.super-offers-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.super-offer-item {
  text-align: center;
  padding: 10px 10px 10px 10px;
}
.super-offer-item h3 {
  font-size: larger;
}
.super-offer-item .price-container {
  font-size: larger;
}
img.thumbnail {
  margin: auto;
}
/*FOOTER*/
footer {
  font-size: smaller;
}
footer h3 {
  font-size: medium;
}
.footer {
  display: flex;
  justify-content: space-around;
}
div.footer-segment {
  padding: 5px 5px 5px 5px;
  margin: 0 0 50px 0;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*#region Product panel */
#products-panel .description {
  overflow: hidden;
  text-overflow: ellipsis;
}
#products-panel .product {
  padding-top: 10px;
  padding-bottom: 10px;
}
#products-panel .product span.price {
  font-size: medium;
  font-weight: bold;
  white-space: nowrap;
}
#products-panel .product .add-to-cart-btn {
  padding: 3px 6px;
}
#products-panel .product .add-to-cart-btn span.caption {
  padding-left: 3px;
  position: relative;
  top: -3px;
}
/*#region Display rows*/
#products-panel.display-rows .product {
  margin-right: -15px;
  margin-left: -15px;
  content: " ";
  display: table;
  clear: both;
  margin: auto;
}
#products-panel.display-rows .product > * {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  #products-panel.display-rows .product .thumbnail-container {
    float: left;
    width: 25%;
  }
}
@media (max-width: 768px) {
  #products-panel.display-rows .product .thumbnail-container .thumbnail {
    text-align: center;
  }
}
@media (min-width: 768px) {
  #products-panel.display-rows .product .thumbnail-container .thumbnail {
    margin: 5px 5px 5px 5px;
  }
}
@media (min-width: 768px) {
  #products-panel.display-rows .product .title-wrapper {
    float: left;
    width: 75%;
  }
}
@media (min-width: 768px) {
  #products-panel.display-rows .product .description {
    float: left;
    width: 75%;
  }
}
@media (max-width: 768px) {
  #products-panel.display-rows .product .price-container {
    text-align: center;
  }
}
@media (min-width: 768px) {
  #products-panel.display-rows .product .price-container {
    float: left;
    width: 40%;
    padding-top: 5px;
  }
}
@media (max-width: 768px) {
  #products-panel.display-rows .product .add-to-cart {
    text-align: center;
  }
}
@media (min-width: 768px) {
  #products-panel.display-rows .product .add-to-cart {
    float: left;
    width: 35%;
  }
  #products-panel.display-rows .product .add-to-cart .add-to-cart-btn {
    float: right;
  }
}
/*#endregion */
/*#region Display Tiles */
#products-panel.display-tiles {
  display: flex;
  flex-flow: row wrap;
}
#products-panel.display-tiles .product {
  position: relative;
  margin-right: 15px;
  margin-left: 15px;
  /*min-height: 1px;*/
  height: 350px;
}
@media (min-width: 768px) and (max-width: 992px) {
  #products-panel.display-tiles .product {
    width: 50%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  #products-panel.display-tiles .product {
    width: 33.33%;
  }
}
@media (min-width: 1200px) {
  #products-panel.display-tiles .product {
    width: 25%;
  }
}
#products-panel.display-tiles .product .title-wrapper {
  text-align: center;
}
#products-panel.display-tiles .product .description {
  display: none;
}
#products-panel.display-tiles .product .thumbnail {
  margin: auto;
}
#products-panel.display-tiles .product .price-container {
  text-align: center;
  position: absolute;
  bottom: 50px;
  width: 100%;
}
#products-panel.display-tiles .product .add-to-cart {
  text-align: center;
  position: absolute;
  bottom: 5px;
  width: 100%;
}
/*#endregion */
/*#region Display small list */
#products-panel.display-small-list .product {
  margin-right: -15px;
  margin-left: -15px;
  content: " ";
  display: table;
  clear: both;
  margin: auto;
}
#products-panel.display-small-list .product > * {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  #products-panel.display-small-list .product .thumbnail-container {
    float: left;
    width: 16.66%;
  }
}
@media (max-width: 768px) {
  #products-panel.display-small-list .product .thumbnail-container .thumbnail {
    text-align: center;
    max-height: 75px;
    max-width: 75px;
  }
}
@media (min-width: 768px) {
  #products-panel.display-small-list .product .thumbnail-container .thumbnail {
    margin: 10px 5px 10px 5px;
    max-height: 75px;
    max-width: 75px;
  }
}
@media (min-width: 768px) {
  #products-panel.display-small-list .product .title-wrapper {
    float: left;
    width: 83.33%;
  }
}
#products-panel.display-small-list .product .title-wrapper h3 {
  font-size: medium;
  margin: 5px 0 5px 0;
}
@media (min-width: 768px) {
  #products-panel.display-small-list .product .description {
    float: left;
    width: 75%;
  }
}
#products-panel.display-small-list .product .description .extended {
  display: none;
}
@media (max-width: 768px) {
  #products-panel.display-small-list .product .price-container {
    text-align: center;
  }
}
@media (min-width: 768px) {
  #products-panel.display-small-list .product .price-container {
    float: left;
    width: 40%;
    padding-top: 5px;
  }
}
@media (max-width: 768px) {
  #products-panel.display-small-list .product .add-to-cart {
    text-align: center;
  }
}
@media (min-width: 768px) {
  #products-panel.display-small-list .product .add-to-cart {
    float: left;
    width: 35%;
  }
  #products-panel.display-small-list .product .add-to-cart .add-to-cart-btn {
    float: right;
  }
}
#products-panel.display-small-list .product .add-to-cart .caption {
  display: none;
}
/*#endregion */
/*#region Display table */
#products-panel.display-table {
  display: table;
}
#products-panel.display-table .product {
  display: table-row;
}
#products-panel.display-table .product > * {
  display: table-cell;
  padding: 5px 3px 5px 3px;
}
#products-panel.display-table .product .thumbnail-container {
  margin: 5px 5px 5px 5px;
  vertical-align: middle;
}
#products-panel.display-table .product .thumbnail-container .thumbnail {
  margin: 5px 5px 5px 5px;
  max-height: 50px;
  max-width: 50px;
}
#products-panel.display-table .product .title-wrapper h3 {
  font-size: medium;
  margin: 0 0 0 0;
}
#products-panel.display-table .product .description .extended {
  display: none !important;
}
#products-panel.display-table .product .add-to-cart,
#products-panel.display-table .product .title-wrapper,
#products-panel.display-table .product .description,
#products-panel.display-table .product .price-container {
  margin: 5px 5px 5px 5px;
  vertical-align: middle;
}
#products-panel.display-table .product .add-to-cart-btn .caption {
  display: none;
}
/*#endregion */
/*#endregion */
/*#region View Selectors */
.view-selector i {
  padding: 0px 5px 0px 5px;
}
.products-toolbar .view-selector .flex-container {
  display: flex;
  justify-content: flex-start;
}
.products-toolbar .view-selector .flex-container a {
  display: block;
}
.products-toolbar .ordering .flex-container {
  display: flex;
  justify-content: center;
}
.products-toolbar .pagination-selector .flex-container {
  display: flex;
  justify-content: flex-end;
  vertical-align: central;
  padding-top: 5px;
  min-height: 34px;
}
@media (max-width: 992px) {
  .products-toolbar .view-selector .flex-container {
    justify-content: center;
  }
  .products-toolbar .ordering .flex-container {
    justify-content: center;
  }
  .products-toolbar .pagination-selector .flex-container {
    justify-content: center;
  }
}
/*#endregion */
/*#region Cart */
.cart .thumbnail {
  max-width: 50px;
}
.cart input.quantity {
  width: 100%;
}
.cart .total-price-wrapper,
.cart .price-wrapper {
  white-space: nowrap;
}
/*#endregion */
