/**{
    border:1px dashed red;
}*/
/*@import (reference) "../../bower_modules/bootstrap/less/bootstrap";*/
.vertical-center {
  display: inline-block;
  float: none;
  vertical-align: middle;
}
.vertical-bottom {
  display: inline-block;
  float: none;
  vertical-align: bottom;
}
/* SLIM TOP BAR*/
ul.lang-selector {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.lang-selector li {
  float: left;
}
.slim-top-bar ul.lang-selector {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.slim-top-bar ul.lang-selector li {
  float: left;
}
.slim-top-bar a {
  display: block;
  text-align: center;
  padding: 5px 10px;
}
/* ---------------- MAIN TOP BAR----------------------*/
.main-top-bar {
  padding: 10px 0 10px 0;
}
.main-top-bar .shop-name {
  margin: 0;
  padding: 0;
}
.main-top-bar .search-input {
  width: 100%;
}
.main-top-bar .search-box {
  padding-top: 5px;
}
.main-top-bar .shopping-cart {
  padding-top: 5px;
}
.affix {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  background-color: #ede7e7;
  margin: 0;
}
.affix button.go-to-cart {
  width: 100%;
}
.affix .shop-name {
  float: right;
}
@media (min-width: 992px) {
  .affix ul.categories {
    display: none;
  }
}
@media (max-width: 992px) {
  .affix .shop-name {
    display: none;
  }
  nav.navbar {
    min-height: 0;
  }
  .shopping-cart {
    padding-right: 10px;
  }
}
.navbar-toggle {
  border-color: #ddd;
  margin-top: 0;
  margin-right: 10px;
}
.navbar-toggle .icon-bar {
  background-color: #888;
}
/*------------------CATEGORIES NAVBAR----------------------*/
ul.categories h3 {
  font-size: medium;
  margin-top: 0;
}
ul.subcategories {
  list-style-type: none;
  margin: 5px 10px 5px 10px;
  padding: 0;
}
/*-----------------------SPECIAL OFFERS----------------------------*/
/*Special offers*/
.super-offers-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.super-offer-item {
  text-align: center;
  padding: 10px 10px 10px 10px;
}
.super-offer-item h3 {
  font-size: larger;
}
.super-offer-item .price {
  font-size: larger;
}
img.thumbnail {
  margin: auto;
}
/*FOOTER*/
footer {
  font-size: smaller;
}
footer h3 {
  font-size: medium;
}
.footer {
  display: flex;
  justify-content: space-around;
}
div.footer-segment {
  padding: 5px 5px 5px 5px;
  margin: 0 0 50px 0;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*---------PRODUCTS PANEL---------------------*/
#products-panel .description {
  overflow: hidden;
  text-overflow: ellipsis;
}
#products-panel.display-rows .product {
  margin-right: -15px;
  margin-left: -15px;
  content: " ";
  display: table;
  clear: both;
  margin: auto;
}
#products-panel.display-rows .product > * {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  #products-panel.display-rows .product .thumbnail-container {
    float: left;
    width: 25%;
  }
}
@media (max-width: 768px) {
  #products-panel.display-rows .product .thumbnail-container .thumbnail {
    text-align: center;
  }
}
@media (min-width: 768px) {
  #products-panel.display-rows .product .thumbnail-container .thumbnail {
    margin: 5px 5px 5px 5px;
  }
}
#products-panel.display-rows .product .right-pane-wrapper {
  margin: auto;
}
#products-panel.display-rows .product .right-pane-wrapper > * {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  #products-panel.display-rows .product .right-pane-wrapper {
    float: left;
    width: 75%;
  }
}
@media (min-width: 768px) {
  #products-panel.display-rows .product .right-pane-wrapper .title-wrapper {
    float: left;
    width: 100%;
  }
}
@media (min-width: 768px) {
  #products-panel.display-rows .product .right-pane-wrapper .description {
    float: left;
    width: 100%;
  }
}
@media (max-width: 768px) {
  #products-panel.display-rows .product .right-pane-wrapper .price {
    text-align: center;
  }
}
@media (min-width: 768px) {
  #products-panel.display-rows .product .right-pane-wrapper .price {
    float: left;
    width: 50%;
  }
}
@media (max-width: 768px) {
  #products-panel.display-rows .product .right-pane-wrapper .add-to-cart {
    text-align: center;
  }
}
@media (min-width: 768px) {
  #products-panel.display-rows .product .right-pane-wrapper .add-to-cart {
    float: left;
    width: 50%;
  }
}
#products-panel.display-tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#products-panel.display-tiles .product {
  max-width: 175px;
}
#products-panel.display-tiles .product .description {
  display: none;
}
#products-panel.display-tiles .product .thumbnail {
  margin: 5px 5px 5px 5px;
}
#products-panel.display-tiles .product .price {
  text-align: center;
}
#products-panel.display-tiles .product .add-to-cart {
  text-align: center;
}
#products-panel.display-small-list .product {
  display: block;
  overflow: auto;
}
#products-panel.display-small-list .product h3 {
  font-size: medium;
  margin: 10px 0 5px 0;
}
#products-panel.display-small-list .product .thumbnail {
  display: inline-block;
  float: left;
  margin: 5px 5px 5px 5px;
  max-height: 75px;
  max-width: 75px;
}
#products-panel.display-small-list .product .price {
  float: left;
}
#products-panel.display-small-list .product .add-to-cart {
  float: right;
  margin-top: -30px;
  margin-right: 5px;
}
#products-panel.display-small-list .product .add-to-cart .caption {
  display: none;
}
#products-panel.display-table {
  display: table;
}
#products-panel.display-table .product {
  display: table-row;
}
#products-panel.display-table .product .thumbnail-container {
  margin: 5px 5px 5px 5px;
  display: table-cell;
  vertical-align: middle;
}
#products-panel.display-table .product .thumbnail {
  margin: 5px 5px 5px 5px;
  max-height: 50px;
  max-width: 50px;
}
#products-panel.display-table .product .right-pane-wrapper .add-to-cart,
#products-panel.display-table .product .right-pane-wrapper .title-wrapper,
#products-panel.display-table .product .right-pane-wrapper .description,
#products-panel.display-table .product .right-pane-wrapper .price {
  margin: 5px 5px 5px 5px;
  display: table-cell;
  vertical-align: middle;
}
#products-panel.display-table .product .right-pane-wrapper .add-to-cart-btn .caption {
  display: none;
}
@media (min-width: 480px) {
  #products-panel.display-tiles {
    justify-content: flex-start;
  }
}
@media (max-width: 480px) {
  #products-panel.display-tiles {
    justify-content: center;
  }
}
/*---------View Selectors------------*/
.view-selector i {
  padding: 0px 5px 0px 5px;
}
.products-toolbar .view-selector .flex-container {
  display: flex;
  justify-content: flex-start;
}
.products-toolbar .view-selector .flex-container a {
  display: block;
}
.products-toolbar .ordering .flex-container {
  display: flex;
  justify-content: center;
}
.products-toolbar .pagination-selector .flex-container {
  display: flex;
  justify-content: flex-end;
  vertical-align: central;
  padding-top: 5px;
  min-height: 34px;
}
@media (max-width: 992px) {
  .products-toolbar .view-selector .flex-container {
    justify-content: center;
  }
  .products-toolbar .ordering .flex-container {
    justify-content: center;
  }
  .products-toolbar .pagination-selector .flex-container {
    justify-content: center;
  }
}
