/* Main Primary color */
/*#region Mixed */
body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
.vertical-center {
  display: inline-block;
  float: none;
  vertical-align: middle;
}
.vertical-bottom {
  display: inline-block;
  float: none;
  vertical-align: bottom;
}
@media (max-width: 768px) {
  .full-width-xs {
    width: 100%;
  }
}
@media (max-width: 992px) and (min-width: 480px) {
  .full-width-sm {
    width: 100%;
  }
}
.btn-caption-xs {
  display: none;
}
@media (max-width: 768px) {
  .btn-caption-xs {
    display: inline !important;
  }
}
.btn-caption-sm {
  display: none;
}
@media (max-width: 992px) and (min-width: 768px) {
  .btn-caption-sm {
    display: inline !important;
  }
}
/*#endregion */
/*#region Buttons */
.btn-primary {
  background-image: linear-gradient(to bottom, #638CB0 0%, #265A88 100%);
}
/*#endregion */
/*#region Global */
a {
  color: #063056;
}
/*#endregion */
/*#region Slim top bar */
ul.lang-selector {
  list-style-type: none;
  margin: 0;
}
ul.lang-selector li {
  float: left;
}
ul.lang-selector li a {
  margin: 5px 0 5px 5px;
  padding: 0 5px 0 5px;
}
.slim-top-bar {
  background-color: #063056;
  color: white;
}
.slim-top-bar ul.lang-selector {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.slim-top-bar ul.lang-selector li {
  float: left;
}
.slim-top-bar a {
  display: block;
  text-align: center;
  padding: 5px 10px;
  color: white;
}
/*#endregion */
/*#region Main top bar */
/*#region Categories navbar */
nav.categories .main-top-bar {
  padding: 10px 15px 10px 15px;
}
nav.categories .main-top-bar .shop-name {
  margin: 0;
  padding: 0;
}
nav.categories .main-top-bar .shop-name a {
  color: #265A88;
}
nav.categories .main-top-bar .search-input {
  width: 100%;
}
nav.categories .main-top-bar .search-box {
  padding-top: 5px;
}
nav.categories .main-top-bar .shopping-cart {
  padding-top: 5px;
}
nav.categories .main-top-bar .shopping-cart .go-to-cart {
  margin-left: -20px;
}
nav.categories ul.categories > li img {
  position: absolute;
  top: 20px;
  right: -75px;
}
@media (max-width: 992px) {
  nav.categories ul.categories > li img {
    display: none;
  }
}
nav.categories ul.categories > li.active > a {
  color: #FFFFFF;
  filter: invert(100%);
  border-bottom: 5px solid #063056;
  background-color: #265A88;
  background-image: none;
  letter-spacing: 0.08em;
}
nav.categories ul.categories > li.active > a:hover {
  background-color: #265A88;
  border-bottom: 5px solid #063056;
  color: #FFFFFF;
}
nav.categories ul.categories > li > a {
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: none;
  background-image: none;
  letter-spacing: 0.08em;
  border-bottom: 5px solid transparent;
}
nav.categories ul.categories > li > a:hover {
  background-color: #638CB0;
  border-bottom: 5px solid #15456F;
  color: #FFFFFF;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
nav.categories ul.categories h3 {
  font-size: medium;
  margin-top: 0;
  margin-bottom: 5px;
  margin: 5px 10px 5px 10px;
  color: #063056;
  font-weight: 500;
}
nav.categories ul.categories ul.subcategories {
  list-style-type: none;
  padding: 0 0 0 10px;
  margin-bottom: 10px;
}
nav.categories ul.categories ul.subcategories li a {
  color: #063056;
}
/*#endregion */
.affix {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  background-color: #ede7e7;
  margin: 0;
}
.affix .shop-name {
  float: right;
}
@media (min-width: 992px) {
  .affix ul.categories {
    display: none;
  }
}
@media (max-width: 992px) {
  .affix .shop-name {
    display: none;
  }
  nav.navbar {
    min-height: 0;
  }
  .shopping-cart {
    padding-right: 10px;
  }
}
.navbar-toggle {
  border-color: #ddd;
  margin-top: 0;
  margin-right: 10px;
}
.navbar-toggle .icon-bar {
  background-color: #888;
}
/*#endregion */
/*#region Breadcrumbs */
ol.breadcrumb {
  background-color: #638CB0;
}
ol.breadcrumb li a {
  color: #EAEAEA;
}
ol.breadcrumb li.active {
  color: #fff;
}
/*#endregion */
/*#region Special offers */
.super-offers-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.super-offer-item {
  text-align: center;
  padding: 10px 10px 10px 10px;
}
.super-offer-item h3 {
  font-size: larger;
}
.super-offer-item .price-container {
  font-size: larger;
}
img.thumbnail {
  margin: auto;
}
/*#endregion */
/*#region offers-carusel*/
.offers-carousel-container .offers-carousel .offers-carousel-item h3 {
  text-align: center;
}
.offers-carousel-container .offers-carousel .offers-carousel-item .price-container {
  text-align: center;
}
/*#endregion*/
/*#region Footer */
footer {
  font-size: smaller;
}
footer h3 {
  font-size: medium;
}
.footer {
  display: flex;
  justify-content: space-around;
}
div.footer-segment {
  padding: 5px 5px 5px 5px;
  margin: 0 0 50px 0;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*#endregion */
/*#region Content header  */
.content h2 {
  color: #063056;
}
.content .categories h3 {
  color: #063056;
  padding-bottom: 5px;
  border-bottom: 3px solid #265A88;
}
.content .categories ul {
  list-style-type: none;
}
/*#endregion */
/*#region Product panel */
#products-panel .description {
  overflow: hidden;
  text-overflow: ellipsis;
}
#products-panel .product {
  padding-top: 10px;
  padding-bottom: 10px;
}
#products-panel .product span.price {
  font-size: medium;
  font-weight: bold;
  white-space: nowrap;
}
#products-panel .product .add-to-cart-btn {
  padding: 3px 6px;
  background-color: #265A88;
  color: white;
}
#products-panel .product .add-to-cart-btn:hover {
  background-color: #3174b0;
}
#products-panel .product .add-to-cart-btn span.caption {
  padding-left: 3px;
  position: relative;
  top: -3px;
}
/*#region Display rows*/
#products-panel.display-rows .product {
  margin-right: -15px;
  margin-left: -15px;
  content: " ";
  display: table;
  clear: both;
  margin: auto;
}
#products-panel.display-rows .product > * {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  #products-panel.display-rows .product .thumbnail-container {
    float: left;
    width: 25%;
  }
}
@media (max-width: 768px) {
  #products-panel.display-rows .product .thumbnail-container .thumbnail {
    text-align: center;
  }
}
@media (min-width: 768px) {
  #products-panel.display-rows .product .thumbnail-container .thumbnail {
    margin: 5px 5px 5px 5px;
  }
}
@media (min-width: 768px) {
  #products-panel.display-rows .product .title-wrapper {
    float: left;
    width: 75%;
  }
}
@media (min-width: 768px) {
  #products-panel.display-rows .product .description {
    float: left;
    width: 75%;
  }
}
@media (max-width: 768px) {
  #products-panel.display-rows .product .price-container {
    text-align: center;
  }
}
@media (min-width: 768px) {
  #products-panel.display-rows .product .price-container {
    float: left;
    width: 40%;
    padding-top: 5px;
  }
}
@media (max-width: 768px) {
  #products-panel.display-rows .product .add-to-cart {
    text-align: center;
  }
}
@media (min-width: 768px) {
  #products-panel.display-rows .product .add-to-cart {
    float: left;
    width: 35%;
  }
  #products-panel.display-rows .product .add-to-cart .add-to-cart-btn {
    float: right;
  }
}
#products-panel.display-rows .product .clearfix {
  display: none;
}
/*#endregion */
/*#region Display Tiles */
#products-panel.display-tiles {
  display: flex;
  flex-flow: row wrap;
}
#products-panel.display-tiles .product {
  position: relative;
  margin-right: 15px;
  margin-left: 15px;
  /*min-height: 1px;*/
  height: 350px;
}
@media (min-width: 768px) and (max-width: 992px) {
  #products-panel.display-tiles .product {
    width: 50%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  #products-panel.display-tiles .product {
    width: 33.33%;
  }
}
@media (min-width: 1200px) {
  #products-panel.display-tiles .product {
    width: 25%;
  }
}
#products-panel.display-tiles .product .title-wrapper {
  text-align: center;
}
#products-panel.display-tiles .product .description {
  display: none;
}
#products-panel.display-tiles .product .thumbnail {
  margin: auto;
}
#products-panel.display-tiles .product .price-container {
  text-align: center;
  position: absolute;
  bottom: 50px;
  width: 100%;
}
#products-panel.display-tiles .product .add-to-cart {
  text-align: center;
  position: absolute;
  bottom: 5px;
  width: 100%;
}
/*#endregion */
/*#region Display small list */
#products-panel.display-small-list .product {
  margin-right: -15px;
  margin-left: -15px;
  content: " ";
  display: table;
  clear: both;
  margin: auto;
}
#products-panel.display-small-list .product > * {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  #products-panel.display-small-list .product .thumbnail-container {
    float: left;
    width: 16.66%;
  }
}
@media (max-width: 768px) {
  #products-panel.display-small-list .product .thumbnail-container .thumbnail {
    text-align: center;
    max-height: 75px;
    max-width: 75px;
  }
}
@media (min-width: 768px) {
  #products-panel.display-small-list .product .thumbnail-container .thumbnail {
    margin: 10px 5px 10px 5px;
    max-height: 75px;
    max-width: 75px;
  }
}
@media (min-width: 768px) {
  #products-panel.display-small-list .product .title-wrapper {
    float: left;
    width: 83.33%;
  }
}
#products-panel.display-small-list .product .title-wrapper h3 {
  font-size: medium;
  margin: 5px 0 5px 0;
}
@media (min-width: 768px) {
  #products-panel.display-small-list .product .description {
    float: left;
    width: 75%;
  }
}
#products-panel.display-small-list .product .description .extended {
  display: none;
}
@media (max-width: 768px) {
  #products-panel.display-small-list .product .price-container {
    text-align: center;
  }
}
@media (min-width: 768px) {
  #products-panel.display-small-list .product .price-container {
    float: left;
    width: 40%;
    padding-top: 5px;
  }
}
@media (max-width: 768px) {
  #products-panel.display-small-list .product .add-to-cart {
    text-align: center;
  }
}
@media (min-width: 768px) {
  #products-panel.display-small-list .product .add-to-cart {
    float: left;
    width: 35%;
  }
  #products-panel.display-small-list .product .add-to-cart .add-to-cart-btn {
    float: right;
  }
}
#products-panel.display-small-list .product .add-to-cart .caption {
  display: none;
}
/*#endregion */
/*#region Display table */
#products-panel.display-table {
  display: table;
}
#products-panel.display-table .product {
  display: table-row;
}
#products-panel.display-table .product > * {
  display: table-cell;
  padding: 5px 3px 5px 3px;
}
#products-panel.display-table .product .thumbnail-container {
  margin: 5px 5px 5px 5px;
  vertical-align: middle;
}
#products-panel.display-table .product .thumbnail-container .thumbnail {
  margin: 5px 5px 5px 5px;
  max-height: 50px;
  max-width: 50px;
}
#products-panel.display-table .product .title-wrapper h3 {
  font-size: medium;
  margin: 0 0 0 0;
}
#products-panel.display-table .product .description .extended {
  display: none !important;
}
#products-panel.display-table .product .add-to-cart,
#products-panel.display-table .product .title-wrapper,
#products-panel.display-table .product .description,
#products-panel.display-table .product .price-container {
  margin: 5px 5px 5px 5px;
  vertical-align: middle;
}
#products-panel.display-table .product .add-to-cart-btn .caption {
  display: none;
}
/*#endregion */
/*#endregion */
/*#region View Selectors */
.view-selector i {
  padding: 0px 5px 0px 5px;
}
.products-toolbar .view-selector .flex-container {
  display: flex;
  justify-content: flex-start;
}
.products-toolbar .view-selector .flex-container a {
  display: block;
}
.products-toolbar .ordering .flex-container {
  display: flex;
  justify-content: center;
}
.products-toolbar .pagination-selector .flex-container {
  display: flex;
  justify-content: flex-end;
  vertical-align: central;
  padding-top: 5px;
  min-height: 34px;
}
.products-toolbar .pagination-selector .flex-container span {
  font-size: medium;
}
.products-toolbar .pagination-selector .flex-container span.active {
  border-bottom: solid 3px #265A88;
}
@media (max-width: 992px) {
  .products-toolbar .view-selector .flex-container {
    justify-content: center;
  }
  .products-toolbar .ordering .flex-container {
    justify-content: center;
  }
  .products-toolbar .pagination-selector .flex-container {
    justify-content: center;
  }
}
/*#endregion */
/*#region Cart */
.cart .thumbnail {
  max-width: 50px;
}
.cart input.quantity {
  max-width: 100px;
}
@media (max-width: 768px) {
  .cart input.quantity {
    display: inline-block;
    float: left;
    width: auto;
  }
}
.cart table.cart-items {
  width: 100%;
}
.cart table.cart-items tr.cart-item td.thumbnail-container {
  width: 1%;
}
@media (max-width: 768px) {
  .cart table.cart-items tr.cart-item td.quantity-wrapper::before {
    float: left;
  }
}
.cart table.cart-items .total-price-wrapper,
.cart table.cart-items .price-wrapper {
  white-space: nowrap;
}
@media (max-width: 768px) {
  .cart table.cart-items .total-price-wrapper,
  .cart table.cart-items .price-wrapper {
    clear: both;
  }
}
.cart table.cart-items tr.summary {
  font-weight: bold;
}
@media (max-width: 992px) {
  .cart table.cart-items tr.summary td {
    padding: 0;
    float: left;
    display: inline-block;
  }
  .cart table.cart-items tr.summary td::before {
    display: none;
    /*float:left;*/
    /*display:inline-block;*/
  }
}
.cart .cart-buttons button {
  margin: 5px 5px 5px 5px;
}
@media (min-width: 992px) {
  .cart .cart-buttons .go-back > button {
    float: left;
  }
}
@media (max-width: 992px) {
  .cart .cart-buttons .go-back > button {
    text-align: center;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .cart .cart-buttons .go-to-payments > button {
    float: right;
  }
}
@media (max-width: 992px) {
  .cart .cart-buttons .go-to-payments > button {
    text-align: center;
    width: 100%;
  }
}
/*#region rwd-table */
.rwd-table {
  margin: 1em 0;
  min-width: 300px;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) " ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 768px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th,
.rwd-table td {
  text-align: left;
}
@media (min-width: 768px) {
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
}
.rwd-table {
  overflow: hidden;
}
.rwd-table tr {
  border-color: #46637f;
}
.rwd-table th,
.rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 768px) {
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}
/*#endregion */
/*#endregion */
/*#region Details */
/*#region ProductGallery */
.product-images {
  width: 100%;
  max-width: 550px;
  margin: 4em auto;
}
.product-images li,
.product-images figure,
.product-images a,
.product-images img {
  display: block;
  outline: none;
  border: none;
}
.product-images .main-img-slider {
  /*.slick-prev,.slick-next{
      z-index: 100;
      font-size:2.5em;
      width: 29px;
      height: 36px;
      margin-top: -18px;    
      color: #B7B7B7;
      display:none;
    }*/
}
.product-images .main-img-slider figure {
  padding: 0 2em;
}
.product-images .main-img-slider figure a {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
.product-images .main-img-slider figure a img {
  width: 100%;
}
.product-images .thumb-nav {
  margin-bottom: 0;
}
.product-images .thumb-nav li {
  max-width: 60px;
  margin-right: 1em;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: border .25s;
}
.product-images .thumb-nav li img {
  width: 100%;
}
.product-images .thumb-nav li:last-child {
  margin-right: 0;
}
.product-images .thumb-nav li:hover,
.product-images .thumb-nav li:focus {
  border-color: #999;
}
.product-images .thumb-nav li.slick-current {
  border-color: #FB8D00;
}
.pswp__bg {
  background: #fff;
}
/*#endregion */
/*#region SideBar */
.product-sidebar > * {
  margin-bottom: 5px;
}
@media (min-width: 992px) {
  .product-sidebar .price-container span {
    display: block;
  }
}
.product-sidebar .price-container .old-price .value {
  text-decoration: line-through;
  font-size: large;
  margin-bottom: 0px;
}
.product-sidebar .price-container .new-price .value {
  color: red;
  font-size: xx-large;
}
.product-sidebar .shipping-container {
  font-weight: 500;
}
.product-sidebar .shipping-container i {
  margin-left: 5px;
}
.product-sidebar .stock-container i {
  margin-left: 5px;
}
.product-sidebar .add-to-cart-container > * {
  margin-bottom: 5px;
}
.product-sidebar .add-to-cart-container button i {
  margin-right: 5px;
}
/*#endregion */
/*#endregion */
