/**{
    border:1px dashed red;
}*/
@import "variables.less";
/*@import (reference) "../../bower_modules/bootstrap/less/bootstrap";*/

.vertical-center {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.vertical-bottom {
    display: inline-block;
    float: none;
    vertical-align: bottom;
}

/* SLIM TOP BAR*/
ul.lang-selector {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        i{
            border: 1px solid black;
        }
        float: left;
    }
}

.slim-top-bar {
    ul.lang-selector {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            float: left;
        }
    }

    a {
        display: block;
        text-align: center;
        padding: 5px 10px;
    }
}

/* ---------------- MAIN TOP BAR----------------------*/
.main-top-bar {
    padding: 10px 0 10px 0;

    .shop-name {
        margin: 0;
        padding: 0;
    }

    .search-input {
        width: 100%;
    }

    .search-box {
        padding-top: 5px;
    }

    .shopping-cart {
        padding-top: 5px;
    }
}


.affix {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    background-color: #ede7e7;
    margin: 0;

    button.go-to-cart {
        width: 100%;
    }

    .shop-name {
        float: right;
    }

    @media(min-width:992px) {
        ul.categories {
            display: none;
        }
    }
}


@media (max-width: 992px) {
    .affix .shop-name {
        display: none;
    }

    nav.navbar {
        min-height: 0;
    }

    .shopping-cart {
        padding-right: 10px;
    }
}

.navbar-toggle {
    border-color: #ddd;
    margin-top: 0;
    margin-right: 10px;

    .icon-bar {
        background-color: #888;
    }
}

/*------------------CATEGORIES NAVBAR----------------------*/
ul.categories {
    h3 {
        font-size: medium;
        margin-top: 0;
    }
}

ul.subcategories {
    list-style-type: none;
    margin: 5px 10px 5px 10px;
    padding: 0;
}

/*-----------------------SPECIAL OFFERS----------------------------*/

/*Special offers*/
.super-offers-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.super-offer-item {
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.super-offer-item h3 {
    font-size: larger;
}

.super-offer-item .price-container {
    font-size: larger;
}

img.thumbnail {
    margin: auto;
}


/*FOOTER*/
footer {
    font-size: smaller;
}

footer h3 {
    font-size: medium;
}

.footer {
    display: flex;
    justify-content: space-around;
}

div.footer-segment {
    padding: 5px 5px 5px 5px;
    margin: 0 0 50px 0;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*#region Product panel */


#products-panel {
    .description {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .product {
        padding-top: 10px;
        padding-bottom: 10px;

        span.price {
            font-size: medium;
            font-weight: bold;
            white-space: nowrap;
        }

        .add-to-cart-btn {
            padding: 3px 6px;

            span.caption {
                padding-left: 3px;
                position: relative;
                top: -3px;
            }
        }
    }
}

/*#region Display rows*/
#products-panel.display-rows {
    .product {
        margin-right: -15px;
        margin-left: -15px;
        content: " ";
        display: table;
        clear: both;
        margin: auto;

        & > * {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }

        .thumbnail-container {
            @media (min-width: @screen-sm) {
                float: left;
                width: 25%;
            }

            .thumbnail {
                @media(max-width:@screen-sm) {
                    text-align: center;
                }

                @media (min-width: @screen-sm) {
                    margin: 5px 5px 5px 5px;
                }
            }
        }

        .title-wrapper {
            @media (min-width: @screen-sm) {
                float: left;
                width: 75%;
            }
        }

        .description {

            @media (min-width: @screen-sm) {
                float: left;
                width: 75%;
            }
        }

        .price-container {
            @media(max-width:@screen-sm) {
                text-align: center;
            }

            @media (min-width: @screen-sm) {
                float: left;
                width: 40%;
                padding-top: 5px;
            }
        }

        .add-to-cart {
            @media(max-width:@screen-sm) {
                text-align: center;
            }

            @media (min-width: 768px) {
                float: left;
                width: 35%;

                .add-to-cart-btn {
                    float: right;
                }
            }
        }
    }
}
/*#endregion */

/*#region Display Tiles */
#products-panel.display-tiles {
    display: flex;
    flex-flow: row wrap;

    .product {
        position: relative;
        margin-right: 15px;
        margin-left: 15px;
        /*min-height: 1px;*/
        height: 350px;

        @media(min-width:@screen-sm) and (max-width:@screen-md) {
            width: 50%;
        }

        @media(min-width:@screen-md) and (max-width:@screen-lg) {
            width: 33.33%;
        }

        @media(min-width:@screen-lg) {
            width: 25%;
        }

        .title-wrapper {
            text-align: center;
        }

        .description {
            display: none;
        }

        .thumbnail {
            margin: auto;
        }

        .price-container {
            text-align: center;
            position: absolute;
            bottom: 50px;
            width: 100%;
        }

        .add-to-cart {
            text-align: center;
            position: absolute;
            bottom: 5px;
            width: 100%;

            .add-to-cart-btn {
            }
        }
    }
}
/*#endregion */
/*#region Display small list */
#products-panel.display-small-list {
    .product {
        margin-right: -15px;
        margin-left: -15px;
        content: " ";
        display: table;
        clear: both;
        margin: auto;

        & > * {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }

        .thumbnail-container {
            @media (min-width: @screen-sm) {
                float: left;
                width: 16.66%;
            }

            .thumbnail {
                @media(max-width:@screen-sm) {
                    text-align: center;
                    max-height: 75px;
                    max-width: 75px;
                }

                @media (min-width: @screen-sm) {
                    margin: 10px 5px 10px 5px;
                    max-height: 75px;
                    max-width: 75px;
                }
            }
        }

        .title-wrapper {
            @media (min-width: @screen-sm) {
                float: left;
                width: 83.33%;
            }

            h3 {
                font-size: medium;
                margin: 5px 0 5px 0;
            }
        }

        .description {

            @media (min-width: @screen-sm) {
                float: left;
                width: 75%;
            }

            .extended {
                display: none;
            }
        }

        .price-container {
            @media(max-width:@screen-sm) {
                text-align: center;
            }

            @media (min-width: @screen-sm) {
                float: left;
                width: 40%;
                padding-top: 5px;
            }
        }

        .add-to-cart {
            @media(max-width:@screen-sm) {
                text-align: center;
            }

            @media (min-width: 768px) {
                float: left;
                width: 35%;

                .add-to-cart-btn {
                    float: right;
                }
            }

            .caption {
                display: none;
            }
        }
    }
}
/*#endregion */

/*#region Display table */
#products-panel.display-table {
    display: table;

    .product {
        display: table-row;

        & > * {
            display: table-cell;
            padding: 5px 3px 5px 3px;
        }

        .thumbnail-container {
            margin: 5px 5px 5px 5px;
            vertical-align: middle;

            .thumbnail {
                margin: 5px 5px 5px 5px;
                max-height: 50px;
                max-width: 50px;
            }
        }

        .title-wrapper {
            h3 {
                font-size: medium;
                margin: 0 0 0 0;
            }
        }

        .description {
            .extended {
                display: none !important;
            }
        }

        .add-to-cart, .title-wrapper, .description, .price-container {
            margin: 5px 5px 5px 5px;
            vertical-align: middle;
        }

        .add-to-cart-btn {
            .caption {
                display: none;
            }
        }
    }
}
/*#endregion */

/*#endregion */

/*#region View Selectors */
.view-selector {
    i {
        padding: 0px 5px 0px 5px;
    }
}

.products-toolbar {
    .view-selector {
        .flex-container {
            display: flex;
            justify-content: flex-start;

            a {
                display: block;
            }
        }
    }

    .ordering {
        .flex-container {
            display: flex;
            justify-content: center;
        }
    }

    .pagination-selector {
        .flex-container {
            display: flex;
            justify-content: flex-end;
            vertical-align: central;
            padding-top: 5px;
            min-height: 34px;
        }
    }
}

@media(max-width: @screen-md) {
    .products-toolbar {
        .view-selector {
            .flex-container {
                justify-content: center;
            }
        }

        .ordering {
            .flex-container {
                justify-content: center;
            }
        }

        .pagination-selector {
            .flex-container {
                justify-content: center;
            }
        }
    }
}


/*#endregion */

/*#region Cart */
.cart{
    .thumbnail
    {
        max-width:50px;
    }
    input.quantity{
        width:100%;
    }
    .total-price-wrapper,.price-wrapper{
        white-space:nowrap;
    }
}

/*#endregion */