/**{
    border:1px dashed red;
}*/
@import "variables.less";
/*@import (reference) "../../bower_modules/bootstrap/less/bootstrap";*/

.vertical-center {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.vertical-bottom {
    display: inline-block;
    float: none;
    vertical-align: bottom;
}

/* SLIM TOP BAR*/
ul.lang-selector {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        float: left;
    }
}

.slim-top-bar {
    ul.lang-selector {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            float: left;
        }
    }

    a {
        display: block;
        text-align: center;
        padding: 5px 10px;
    }
}

/* ---------------- MAIN TOP BAR----------------------*/
.main-top-bar {
    padding: 10px 0 10px 0;

    .shop-name {
        margin: 0;
        padding: 0;
    }

    .search-input {
        width: 100%;
    }

    .search-box {
        padding-top: 5px;
    }

    .shopping-cart {
        padding-top: 5px;
    }
}


.affix {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    background-color: #ede7e7;
    margin: 0;

    button.go-to-cart {
        width: 100%;
    }

    .shop-name {
        float: right;
    }

    @media(min-width:992px) {
        ul.categories {
            display: none;
        }
    }
}


@media (max-width: 992px) {
    .affix .shop-name {
        display: none;
    }

    nav.navbar {
        min-height: 0;
    }

    .shopping-cart {
        padding-right: 10px;
    }
}

.navbar-toggle {
    border-color: #ddd;
    margin-top: 0;
    margin-right: 10px;

    .icon-bar {
        background-color: #888;
    }
}

/*------------------CATEGORIES NAVBAR----------------------*/
ul.categories {
    h3 {
        font-size: medium;
        margin-top: 0;
    }
}

ul.subcategories {
    list-style-type: none;
    margin: 5px 10px 5px 10px;
    padding: 0;
}

/*-----------------------SPECIAL OFFERS----------------------------*/

/*Special offers*/
.super-offers-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.super-offer-item {
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.super-offer-item h3 {
    font-size: larger;
}

.super-offer-item .price {
    font-size: larger;
}

img.thumbnail {
    margin: auto;
}


/*FOOTER*/
footer {
    font-size: smaller;
}

footer h3 {
    font-size: medium;
}

.footer {
    display: flex;
    justify-content: space-around;
}

div.footer-segment {
    padding: 5px 5px 5px 5px;
    margin: 0 0 50px 0;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*---------PRODUCTS PANEL---------------------*/
#products-panel {
    .description {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

#products-panel.display-rows {
    .product {
        margin-right: -15px;
        margin-left: -15px;
        content: " ";
        display: table;
        clear: both;
        margin: auto;

        & > * {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }

        .thumbnail-container {


            @media (min-width: @screen-sm) {
                float: left;
                width: 25%;
            }

            .thumbnail {
                @media(max-width:@screen-sm) {
                    text-align: center;
                }

                @media (min-width: @screen-sm) {
                    margin: 5px 5px 5px 5px;
                }
            }
        }

        .right-pane-wrapper {
            & > * {
                position: relative;
                min-height: 1px;
                padding-right: 15px;
                padding-left: 15px;
            }

            margin: auto;

            @media (min-width: @screen-sm) {
                float: left;
                width: 75%;
            }

            .title-wrapper {
                @media (min-width: @screen-sm) {
                    float: left;
                    width: 100%;
                }
            }

            .description {

                @media (min-width: @screen-sm) {
                    float: left;
                    width: 100%;
                }
            }

            .price {
                @media(max-width:@screen-sm) {
                    text-align: center;
                }

                @media (min-width: @screen-sm) {
                    float: left;
                    width: 50%;
                }
            }

            .add-to-cart {
                @media(max-width:@screen-sm) {
                    text-align: center;
                }

                @media (min-width: 768px) {
                    float: left;
                    width: 50%;
                }
            }
        }
    }
}

#products-panel.display-tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .product {
        max-width: 175px;

        .description {
            display: none;
        }

        .thumbnail {
            margin: 5px 5px 5px 5px;
        }

        .price {
            text-align: center;
        }

        .add-to-cart {
            text-align: center;
        }
    }
}

#products-panel.display-small-list {
    .product {
        display: block;
        overflow: auto;

        h3 {
            font-size: medium;
            margin: 10px 0 5px 0;
        }

        .thumbnail {
            display: inline-block;
            float: left;
            margin: 5px 5px 5px 5px;
            max-height: 75px;
            max-width: 75px;
        }

        .price {
            float: left;
        }

        .add-to-cart {
            float: right;
            margin-top: -30px;
            margin-right: 5px;

            .add-to-cart-btn {
            }

            .caption {
                display: none;
            }
        }
    }
}


#products-panel.display-table {
    display: table;
    .product {
        display: table-row;
        .thumbnail-container {
            margin: 5px 5px 5px 5px;
            display: table-cell;
            vertical-align: middle;
        }

        .thumbnail {
            margin: 5px 5px 5px 5px;
            max-height: 50px;
            max-width: 50px;
        }

        .right-pane-wrapper {
           .add-to-cart,.title-wrapper,.description,.price {
                margin: 5px 5px 5px 5px;
                display: table-cell;
                vertical-align: middle;
            }

            .add-to-cart-btn {
                .caption {
                    display: none;
                }
            }
        }
    }
}

@media(min-width: @screen-xs) {
    #products-panel.display-tiles {
        justify-content: flex-start;
    }
}

@media(max-width: @screen-xs) {
    #products-panel.display-tiles {
        justify-content: center;
    }
}

/*---------View Selectors------------*/
.view-selector {
    i {
        padding: 0px 5px 0px 5px;
    }
}

.products-toolbar {
    .view-selector {
        .flex-container {
            display: flex;
            justify-content: flex-start;

            a {
                display: block;
            }
        }
    }

    .ordering {
        .flex-container {
            display: flex;
            justify-content: center;
        }
    }

    .pagination-selector {
        .flex-container {
            display: flex;
            justify-content: flex-end;
            vertical-align: central;
            padding-top: 5px;
            min-height: 34px;
        }
    }
}

@media(max-width: @screen-md) {
    .products-toolbar {
        .view-selector {
            .flex-container {
                justify-content: center;
            }
        }

        .ordering {
            .flex-container {
                justify-content: center;
            }
        }

        .pagination-selector {
            .flex-container {
                justify-content: center;
            }
        }
    }
}
